<a href="https://colab.research.google.com/github/Highping7/AI_github/blob/main/0411%EC%88%98%EC%97%85_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##a라는 변수에 숫자 20을 할당하고, b라는 변수에 숫자 30을 할당해 a와 b의 합을 프린트하시오

In [2]:
a=20
b=30
print(a+b)

50

##아래의 문장을 변수에 저장하고 저장된 변수에서 인공지능이라는 단어만 프린트하시오

*   안녕하세요 인공지능 수업에 오신것을 환영합니다.

In [3]:
let = "안녕하세요 인공지능 수업에 오신것을 환영합니다."

In [5]:
let[6:10]

'인공지능'

##특정 문자를 입력받아 변수로 저장하는 방법으로 자신의 이름을 입력후 저장하고, 아래의 문장과 같이 format을 사용해 프린트 하시오

In [ ]:
name = input("이름 : ")
print(("안녕하세요 {}님 인공지능 수업에 오신것을 환영합니다.").format("name"))

김창균
안녕하세요 김창균님 인공지능 수업에 오신것을 환영합니다.

#아래의 값들을 하나의 리스트에 저장하고, 리스트를 프린트하시오


*   1,5,5,7,3,6,88,12,5,74,4,8,64,2,7,89,33,1,6,8,1,5,6,7

In [6]:
lis = [1,5,5,7,3,6,88,12,5,74,4,8,64,2,7,89,33,1,6,8,1,5,6,7]
lis

[1, 5, 5, 7, 3, 6, 88, 12, 5, 74, 4, 8, 64, 2, 7, 89, 33, 1, 6, 8, 1, 5, 6, 7]

#위에서 저장된 리스트 값중 88에 해당하는 리스트의 위치 index를 도출하시오

In [9]:
print(lis.index(88))
lis[lis.index(88)]

6

88

##주어진 이름 Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [10]:
vil = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
for i in vil:
  if "Lee" in i:
    print(i[:i.index("-")])

Lee

##주어진 이름 Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25 을 name이란 리스트를 만들고 리스트의 형태를 Jone/30 ....  와 같이 모두 변경하고 프린트하시오

In [21]:
i = 0
while 1:
  vil[i] = vil[i].replace('-','/')
  i+=1
  if (i == len(vil)):
    break
vil

['Jone/30', 'Park/30', 'Kim/20', 'Lee/10', 'Oh/32', 'Kang/25']

##하나의 폴더에 아래와 같은 형식을 가진 파일들이 있다. 이때 jpg와 png파일만 뽑아 리스트로 프린트하시오 만약에 jpg와 png파일이 아닐 경우 아래와 같이 프린트하시오



*   dog.png, dog2.png, dog3.jpg, test.pdf, file.py, homework.pptx, jpg.pptx, png2.pptx


*   test.pdf은 jpg, png파일에 포함되지 않습니다.

In [25]:
folder = ['dog.png', 'dog2.png', 'dog3.jpg', 'test.pdf', 'file.py', 'homework.pptx', 'jpg.pptx', 'png2.pptx']
pict = []
for i in folder:
  if ".jpg" not in i and ".png" not in i:
    print(("{}은 jpg.png파일에 포함되지 않습니다.").format(i))
  else:
    pict.append(i)
pict

test.pdf은 jpg.png파일에 포함되지 않습니다.
file.py은 jpg.png파일에 포함되지 않습니다.
homework.pptx은 jpg.png파일에 포함되지 않습니다.
jpg.pptx은 jpg.png파일에 포함되지 않습니다.
png2.pptx은 jpg.png파일에 포함되지 않습니다.

['dog.png', 'dog2.png', 'dog3.jpg']

##위의 리스트에서 50보다 큰 숫자들만 뽑아 하나의 리스트에 저장하고 프린트하고 50보다 작은 숫자들은 또다른 리스트에 저장하시오

In [ ]:
big= []
smal = []
lt = []

for i in lt:
  if i>50:
    big.append(i)
  else:
    smal.append(i)
print(big)
print(smal)

[88, 74, 64, 89]
[1, 5, 5, 7, 3, 6, 12, 5, 4, 8, 2, 7, 33, 1, 6, 8, 1, 5, 6, 7]

##하나의 빈 리스트를 만들고 아래의 값을 넣었을때 양수이면 빈 리스트에 추가하고 음수이면 이를 무시해 양수만 저장되어 있는 리스트의 값들을 모두 더해 프린트해라(while, if, continue사용)


*   20,50,51,6,74,2,67,-5,-10,-50,-56,-19,55

In [29]:
emp = []
lt2 = [20,50,51,6,74,2,67,-5,-10,-50,-56,-19,55]
i=0
while 1:
  if lt2[i]<0:
    i+=1
    continue
  else:
    emp.append(lt2[i])
  i+=1
  if (i == len(lt2)):
    break
print("입력한 숫자의 모든 합은 : ",sum(emp))

입력한 숫자의 모든 합은 :  325

##3개의 값을 넣었을때 값들을 모두 제곱해 더한 결과를 도출하는 함수를 만드시오

In [31]:
def mypow(v11,v22,v33):
  v11 *= v11
  v22 *= v22
  v33 *= v33
  return v11+v22+v33

In [33]:
v1 = float(input())
v2 = float(input())
v3 = float(input())
mypow(v1,v2,v3)

1
2
3

14.0

In [50]:
mypow(1,2,3)

14

In [52]:
menu = {"햄버거": 15000, "피자":22000, "음료":2000,"감자튀김":5000}
price = 0
print("어서오세요 Ai 식당입니다.")
while 1:
  for i,j in menu.items():
    print(("{}: {}원").format(i,j))
  ord = input("구매하고 싶은 품목을 선택해주세요 (ore done to exit) :"  )
  print("----------------------------------------------")
  if ord == "done":
    break
  num = int(input("구매하실 수량을 입력해주세요"))
  price += menu.get(ord)*num
  print(("현재 총 구매 금액은 {}원 입니다.").format(price))
  print("----------------------------------------------")
  print("구매하고 싶은 품목을 선택해주세요 (ore done to exit) :"  )
  print("----------------------------------------------")
print(("귀하의 총 구매금액은 {}원 입니다").format(price))

mon = int(input("금액을 투입하세요 : "))
if mon >= price:
  print(("투입금액은 {}원 이고, 거스름돈은 {}원 입니다.").format(mon, mon-price))
  print("감사합니다. 안녕히 가세요.")
else:
  print("주문이 취소되었습니다.")
  print("메인 화면으로 돌아갑니다.")

어서오세요 Ai 식당입니다.
햄버거: 15000원
피자: 22000원
음료: 2000원
감자튀김: 5000원

KeyboardInterrupt: ignored

## 액정 파손 -10000, 카메라 문제 -50000, 터치불량 -10000 이라 할때 핸드폰 가격을 입력했을 때 조건에 따라 가격을 책정해주는 함수를 만드시오

In [41]:
def phone(pr):
    sale = {"액정파손":10000,"카메라":50000,"터치불량":10000}
    while 1:
        print(sale)
        inp = input("어떤 문제가 있나요 ? (f 입력시 종료)  :  ")
        if inp == "f":
            print("exiting the programs...")
            break
        else:
            pr-= sale.get(inp)
    return pr;
phone(200000)

{'액정파손': 10000, '카메라': 50000, '터치불량': 10000}
어떤 문제가 있나요 ? (f 입력시 종료)  :  f
exiting the programs...

200000

##위의 문제를 함수에 *args를 써서 액정파손, 카메라 문제, 터치불량에 대해 가격을 책정할 수 있게 만드시오

In [47]:
sale = {"액정파손":10000,"카메라":50000,"터치불량":10000}
def phone2(*args, price2):
  for i in args:
    if sale.get(i):
      price2-= sale.get(i)
  print(price2)

In [49]:
phone2("액정파손","카메라", price2=500000)

440000