<a href="https://colab.research.google.com/github/Highping7/AI_github/blob/main/2023_05_19_%EC%88%98%EC%97%85%EB%AC%B8%EC%A0%9CHP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#특정 문장을 입력했을때, 아래와 같은 결과가 나오게 만드시오(모음 : a, e, i, o, u)
(6줄 이하)

In [3]:
inp = input("string : ")
ans = 0
for i in inp:
  if i == 'a' or i == 'e' or i == 'i' or i=='o'or i=='u': # if 'a','e','i','o','u' in i:
    ans += 1
print(("모음의 수는 : {}개").format(ans))

string : asdfghjklqwertyuiopzxcvbnm
5

#2000, 2021, 2100, 2024, 1996의 값을 하나의 리스트로 만들고 윤년일 경우와 아닐경우를 아래와 같이 나타내시오 (4로 나누어 떨어지거나, 100으로 나누어 떨어지거나, 400으로 나누어 떨어지는 년도)
(6줄 이하)

In [7]:
year = [2000,2021,2100,2024,1996]
for i in year:
  if i%4==0 or i %100 == 0 or i%400==0:
    print(("{}년도는 윤년입니다.").format(i))
  else:
    print(("{}년도는 윤년이 아닙니다.").format(i))

2000년도는 윤년입니다.
2021년도는 윤년이 아닙니다.
2100년도는 윤년입니다.
2024년도는 윤년입니다.
1996년도는 윤년입니다.

#아래와 같은 코드를 작성하시오 
(6줄 이하)

In [20]:
lis = []
for i in range(10):
  a = int(input("정수를 입력하세요 : "))
  if a % 5 == 0:
    lis.append(a)
print(("5의 배수의 리스트는 : {} 입니다.").format(lis))

정수를 입력하세요 : 5
정수를 입력하세요 : 5
정수를 입력하세요 : 4
정수를 입력하세요 : 7
정수를 입력하세요 : 9
정수를 입력하세요 : 10
정수를 입력하세요 : 7
정수를 입력하세요 : 3
정수를 입력하세요 : 2
정수를 입력하세요 : 9
5의 배수의 리스트는 : [5, 5, 10] 입니다.

#리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 아래와 같이 나타내시오
(10줄 이하) for문 if문 무조껀 사용

In [16]:
lis=['라면',3000,'생수',2500,'과자',1500,'삼각김밥',1000]
menu=[]
price=[]
for i in lis:
  if type(i) == int:
    price.append(i)
  else:
    menu.append(i)
print(menu)
print(price)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##1번의 딕셔너리 값을 2번 값으로 변경하시오
단 새로운 딕셔너리를 만들어서 변경할순없다.

{'name': 'John', 'age': 20, 'grade': 'A'}

{'name': 'John', 'age': 21, 'city': 'New York'}

In [19]:
dic = {'name':'john','age':21,'grade':'A'}
dic.pop('grade')
print(dic)
dic['city'] = 'New York'
dic

{'name': 'john', 'age': 21}

{'name': 'john', 'age': 21, 'city': 'New York'}