<a href="https://colab.research.google.com/github/Highping7/AI_github/blob/BR01/artificial_intelligence_prac_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = ""
age = 0

In [ ]:
ans = 'name : {}, age = {}'.format('JH',25)

In [ ]:
print(ans)

name : JH, age = 25

In [ ]:
name = "JH"
age = 25
## 변수 초기화 후 입력. cin

In [ ]:
print(name,",",age)

JH , 25

In [1]:
name = input('name : ')
age = int(input('age :'))

ptans = 'name = {}, age = {}'.format(name,age)
print(ptans)

name : JH
age :25
name = JH, age = 25

In [ ]:
for i in range(1,10):
    print("------------------",i,"단------------------")
    for j in range(1,10):
        print("구구단 : ",i,"*",j,"=",i*j,"입니다.")

------------------ 1 단------------------
구구단 :  1 * 1 = 1 입니다.
구구단 :  1 * 2 = 2 입니다.
구구단 :  1 * 3 = 3 입니다.
구구단 :  1 * 4 = 4 입니다.
구구단 :  1 * 5 = 5 입니다.
구구단 :  1 * 6 = 6 입니다.
구구단 :  1 * 7 = 7 입니다.
구구단 :  1 * 8 = 8 입니다.
구구단 :  1 * 9 = 9 입니다.
------------------ 2 단------------------
구구단 :  2 * 1 = 2 입니다.
구구단 :  2 * 2 = 4 입니다.
구구단 :  2 * 3 = 6 입니다.
구구단 :  2 * 4 = 8 입니다.
구구단 :  2 * 5 = 10 입니다.
구구단 :  2 * 6 = 12 입니다.
구구단 :  2 * 7 = 14 입니다.
구구단 :  2 * 8 = 16 입니다.
구구단 :  2 * 9 = 18 입니다.
------------------ 3 단------------------
구구단 :  3 * 1 = 3 입니다.
구구단 :  3 * 2 = 6 입니다.
구구단 :  3 * 3 = 9 입니다.
구구단 :  3 * 4 = 12 입니다.
구구단 :  3 * 5 = 15 입니다.
구구단 :  3 * 6 = 18 입니다.
구구단 :  3 * 7 = 21 입니다.
구구단 :  3 * 8 = 24 입니다.
구구단 :  3 * 9 = 27 입니다.
------------------ 4 단------------------
구구단 :  4 * 1 = 4 입니다.
구구단 :  4 * 2 = 8 입니다.
구구단 :  4 * 3 = 12 입니다.
구구단 :  4 * 4 = 16 입니다.
구구단 :  4 * 5 = 20 입니다.
구구단 :  4 * 6 = 24 입니다.
구구단 :  4 * 7 = 28 입니다.
구구단 :  4 * 8 = 32 입니다.
구구단 :  4 * 9 = 36 입니다.
------------------ 5 단------------------
구구단 :  5 * 1 = 5 입니다.
구구단 :  5 * 2 = 10 입니다.
구구단 :  5 * 3 = 15 입니다.
구구단 :  5 * 4 = 20 입니다.
구구단 :  5 * 5 = 25 입니다.
구구단 :  5 * 6 = 30 입니다.
구구단 :  5 * 7 = 35 입니다.
구구단 :  5 * 8 = 40 입니다.
구구단 :  5 * 9 = 45 입니다.
------------------ 6 단------------------
구구단 :  6 * 1 = 6 입니다.
구구단 :  6 * 2 = 12 입니다.
구구단 :  6 * 3 = 18 입니다.
구구단 :  6 * 4 = 24 입니다.
구구단 :  6 * 5 = 30 입니다.
구구단 :  6 * 6 = 36 입니다.
구구단 :  6 * 7 = 42 입니다.
구구단 :  6 * 8 = 48 입니다.
구구단 :  6 * 9 = 54 입니다.
------------------ 7 단------------------
구구단 :  7 * 1 = 7 입니다.
구구단 :  7 * 2 = 14 입니다.
구구단 :  7 * 3 = 21 입니다.
구구단 :  7 * 4 = 28 입니다.
구구단 :  7 * 5 = 35 입니다.
구구단 :  7 * 6 = 42 입니다.
구구단 :  7 * 7 = 49 입니다.
구구단 :  7 * 8 = 56 입니다.
구구단 :  7 * 9 = 63 입니다.
------------------ 8 단------------------
구구단 :  8 * 1 = 8 입니다.
구구단 :  8 * 2 = 16 입니다.
구구단 :  8 * 3 = 24 입니다.
구구단 :  8 * 4 = 32 입니다.
구구단 :  8 * 5 = 40 입니다.
구구단 :  8 * 6 = 48 입니다.
구구단 :  8 * 7 = 56 입니다.
구구단 :  8 * 8 = 64 입니다.
구구단 :  8 * 9 = 72 입니다.
------------------ 9 단------------------
구구단 :  9 * 1 = 9 입니다.
구구단 :  9 * 2 = 18 입니다.
구구단 :  9 * 3 = 27 입니다.
구구단 :  9 * 4 = 36 입니다.
구구단 :  9 * 5 = 45 입니다.
구구단 :  9 * 6 = 54 입니다.
구구단 :  9 * 7 = 63 입니다.
구구단 :  9 * 8 = 72 입니다.
구구단 :  9 * 9 = 81 입니다.

In [ ]:
for i in range(1,10):
    s1 = '----------{}----------'.format(i)
    print(s1)
    for j in range(1,10):
        s2 = '구구단 : {}*{}={}입니다.'.format(i,j,i*j)
        print(s2)

----------1----------
구구단 : 1*1=1입니다.
구구단 : 1*2=2입니다.
구구단 : 1*3=3입니다.
구구단 : 1*4=4입니다.
구구단 : 1*5=5입니다.
구구단 : 1*6=6입니다.
구구단 : 1*7=7입니다.
구구단 : 1*8=8입니다.
구구단 : 1*9=9입니다.
----------2----------
구구단 : 2*1=2입니다.
구구단 : 2*2=4입니다.
구구단 : 2*3=6입니다.
구구단 : 2*4=8입니다.
구구단 : 2*5=10입니다.
구구단 : 2*6=12입니다.
구구단 : 2*7=14입니다.
구구단 : 2*8=16입니다.
구구단 : 2*9=18입니다.
----------3----------
구구단 : 3*1=3입니다.
구구단 : 3*2=6입니다.
구구단 : 3*3=9입니다.
구구단 : 3*4=12입니다.
구구단 : 3*5=15입니다.
구구단 : 3*6=18입니다.
구구단 : 3*7=21입니다.
구구단 : 3*8=24입니다.
구구단 : 3*9=27입니다.
----------4----------
구구단 : 4*1=4입니다.
구구단 : 4*2=8입니다.
구구단 : 4*3=12입니다.
구구단 : 4*4=16입니다.
구구단 : 4*5=20입니다.
구구단 : 4*6=24입니다.
구구단 : 4*7=28입니다.
구구단 : 4*8=32입니다.
구구단 : 4*9=36입니다.
----------5----------
구구단 : 5*1=5입니다.
구구단 : 5*2=10입니다.
구구단 : 5*3=15입니다.
구구단 : 5*4=20입니다.
구구단 : 5*5=25입니다.
구구단 : 5*6=30입니다.
구구단 : 5*7=35입니다.
구구단 : 5*8=40입니다.
구구단 : 5*9=45입니다.
----------6----------
구구단 : 6*1=6입니다.
구구단 : 6*2=12입니다.
구구단 : 6*3=18입니다.
구구단 : 6*4=24입니다.
구구단 : 6*5=30입니다.
구구단 : 6*6=36입니다.
구구단 : 6*7=42입니다.
구구단 : 6*8=48입니다.
구구단 : 6*9=54입니다.
----------7----------
구구단 : 7*1=7입니다.
구구단 : 7*2=14입니다.
구구단 : 7*3=21입니다.
구구단 : 7*4=28입니다.
구구단 : 7*5=35입니다.
구구단 : 7*6=42입니다.
구구단 : 7*7=49입니다.
구구단 : 7*8=56입니다.
구구단 : 7*9=63입니다.
----------8----------
구구단 : 8*1=8입니다.
구구단 : 8*2=16입니다.
구구단 : 8*3=24입니다.
구구단 : 8*4=32입니다.
구구단 : 8*5=40입니다.
구구단 : 8*6=48입니다.
구구단 : 8*7=56입니다.
구구단 : 8*8=64입니다.
구구단 : 8*9=72입니다.
----------9----------
구구단 : 9*1=9입니다.
구구단 : 9*2=18입니다.
구구단 : 9*3=27입니다.
구구단 : 9*4=36입니다.
구구단 : 9*5=45입니다.
구구단 : 9*6=54입니다.
구구단 : 9*7=63입니다.
구구단 : 9*8=72입니다.
구구단 : 9*9=81입니다.

In [3]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [4]:
exam

[60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]

In [5]:
exsize = len(exam)
## for i in exam:
##  if i > 89: ~
for i in range(exsize):
    if exam[i] >89:
        ans = 'A'
    elif exam[i] >79:
        ans = 'B'
    elif exam[i] > 69:
        ans = 'C'
    elif exam[i] > 59:
        ans = 'D'
    else:
        ans = "F"
    print('당신의 성적은',exam[i],'이므로 점수는 ',ans,'입니다.')

당신의 성적은 60 이므로 점수는  D 입니다.
당신의 성적은 80 이므로 점수는  B 입니다.
당신의 성적은 95 이므로 점수는  A 입니다.
당신의 성적은 69 이므로 점수는  D 입니다.
당신의 성적은 90 이므로 점수는  A 입니다.
당신의 성적은 81 이므로 점수는  B 입니다.
당신의 성적은 80 이므로 점수는  B 입니다.
당신의 성적은 69 이므로 점수는  D 입니다.
당신의 성적은 79 이므로 점수는  C 입니다.
당신의 성적은 66 이므로 점수는  D 입니다.
당신의 성적은 70 이므로 점수는  C 입니다.
당신의 성적은 90 이므로 점수는  A 입니다.
당신의 성적은 96 이므로 점수는  A 입니다.

In [ ]:
storage = 0
for i in range(1,11):
    storage += i
    print("i의 값 :",i,",","합계 :",storage )

i의 값 : 1 , 합계 : 1
i의 값 : 2 , 합계 : 3
i의 값 : 3 , 합계 : 6
i의 값 : 4 , 합계 : 10
i의 값 : 5 , 합계 : 15
i의 값 : 6 , 합계 : 21
i의 값 : 7 , 합계 : 28
i의 값 : 8 , 합계 : 36
i의 값 : 9 , 합계 : 45
i의 값 : 10 , 합계 : 55

In [ ]:
it = 15000
## input에 대한 cin 처리.
if it >= 10000:
    print("구매가능")
else:
    print("구매 불가능")

구매가능

In [ ]:
del input

In [10]:
## input cin 처리.
x = int(input('price : ' ))
##
if x >= 10000:
    print (('당신은 {}원이 있으므로 {}개').format(x,int(x/10000)))
    print("구매가능")
else:
    print("구매 불가능")

price : 120000
당신은 120000원이 있으므로 12개
구매가능

In [6]:
HG = input('학과 : ')
age = input('나이 :')
name = input('이름 : ')
HE = input('키 : ')
print(('저는 {}학과이고 이름은{}, 저의 나이는 {}이고 키는 {}입니다.').format(HG,age,name,HE))

학과 : AI
나이 :JH
이름 : 25
키 : 177
저는 AI학과이고 이름은JH, 저의 나이는 25이고 키는 177입니다.

In [11]:
grades = [85,90,92,78,80,95]
sum = 0
for i in grades:
    sum+=i
sum/=len(grades)
if sum >= 85:
    print('합격') 
    print(sum)
else:
    print('불합격')   
    print(sum)

합격
86.66666666666667