<a href="https://colab.research.google.com/github/Highping7/AI_github/blob/main/%EB%AC%B8%EC%A0%9C_format_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [87]:
col = [("{}/{}/{}").format(input(),input(),input())]

a
b
c

In [88]:
col

['a/b/c']

In [ ]:
name = input()
coll = input()
major  = input()

print(("name = {}, coll = {}, major = {}").format(name,coll,major))

##위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

In [92]:
col2 = list(col[0].replace("/","-"))

In [93]:
col2

['a', '-', 'b', '-', 'c']

##안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [25]:
ex = "안녕하세요, 저는 AI 소프트웨어학과 학생입니다. 만나서 반갑습니다."

In [26]:
ex[-10:]

'만나서 반갑습니다.'

##위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [94]:
print(col2[2])

b

##주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [27]:
name = ["jone-30","park-30","kim-20","lee-10","oh-32","kang-25"]

In [28]:
name

['jone-30', 'park-30', 'kim-20', 'lee-10', 'oh-32', 'kang-25']

In [96]:
name[3][:name[3].index("-")]

'lee'

##20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [33]:
num = [20,50,76,10,59,22,40,50,77,52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [34]:
num[:4]

[20, 50, 76, 10]

##위에서 저장된 리스트에서 77만 print하시오

In [40]:
max(num)

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [41]:
num[-2:]

[77, 52]