<a href="https://colab.research.google.com/github/Highping7/AI_github/blob/main/%EC%88%98%EC%97%85%EC%9E%90%EB%A3%8C_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 100m 달리기 아래는 달리기 성적 기록이다. 이때 9초 이상 11초 미만 합격, 11초 이상 13초 미만 재시험, 13초 초과 불합격을 프린트하시오

* input을 활용해 만들기
* 9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5

In [4]:
run = [9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5]

def score(run):
    if (run < 11):
      print("합격")
    elif  (run < 13):
      print("재시험")
    else:
      print("불합격")
for i in run:
  score(i);

myrun = float(input())
score(myrun)

합격
합격
재시험
재시험
불합격
불합격
불합격
재시험
합격
합격
재시험
합격
51
불합격

##짜장면 : 10,000원, 짬뽕 : 11,000원, 탕수육 22,000원, 볶음밥 : 9,000원을 딕셔너리 형태로 저장하고 메뉴 이름과 금액을 각각 다른 리스트에 저장해 두 개의 리스트로 만들어서 프린트하시오(for 문 사용)

In [5]:
chinese = {"짜장면": 10000, "짬뽕":11000,"탕수육":22000,"볶음밥":9000}

In [13]:
for i,j in chinese.items():
  print(j)

10000
11000
22000
9000

In [19]:
a = []
b = []
for i,j in chinese.items():
  a.append(i)
  b.append(j)
print(a)
print(b)

['짜장면', '짬뽕', '탕수육', '볶음밥']
[10000, 11000, 22000, 9000]

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(리스트를 활용해 문제해결)

In [47]:
'''
student = 10
order = []
ans = 0
for i in range(student):
  oord = input(("{}번 학생의 주문 : ").format(i+1))
  if oord not in a:
    print("잘못 주문하셨습니다.")
    i -= 1
  else:
    ans += b[a.index(oord)]
print(ans)
'''
'''
student = 10
order = []
ans = 0
for i in range(student):
  oord = input(("{}번 학생의 주문 : ").format(i+1))
  if oord not in a:
    print("잘못 주문하셨습니다.")
    i -= 1
  else:
    order.append(b[a.index(oord)])
print(sum(order))
'''
student = 10
order = []
# ans = 0
loop = 0
while loop < student:
  oord = input(("{}번 학생의 주문 : ").format(loop+1))
  if oord not in a:
    print("잘못 주문하셨습니다.")
    continue
  else:
    order.append(b[a.index(oord)])
    loop+=1
print(sum(order))

1번 학생의 주문 : 짜장면
2번 학생의 주문 : 탕수육
3번 학생의 주문 : 라면
잘못 주문하셨습니다.
3번 학생의 주문 : 라면
잘못 주문하셨습니다.
3번 학생의 주문 : 울면
잘못 주문하셨습니다.
3번 학생의 주문 : 탕수육
4번 학생의 주문 : 자장면
잘못 주문하셨습니다.
4번 학생의 주문 : 짜장면
5번 학생의 주문 : 짬뽕
6번 학생의 주문 : 탕수육
7번 학생의 주문 : 볶음밥
8번 학생의 주문 : 볶음밥
9번 학생의 주문 : 짜장면
10번 학생의 주문 : 탕수육
147000

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(딕셔러니를 활용해 문제 해결)

In [27]:
student = 10
order = []
ans = 0
for i in range(student):
  oord = input(("{}번 학생의 주문 : ").format(i+1))
  if oord not in chinese.keys():
    print("잘못 주문하셨습니다.")
    i -= 1
  else:
    ans += chinese.get(oord)
print(ans)

'''
j = 0
ans2 = 0
while j < student:
  oord = input(("{}번 학생의 주문 : ").format(j+1))
  if oord not in chinese.keys():
    print("잘못 주문하셨습니다.")
    continue
  else:
    ans += chinese.get(oord)
    j+=1
print(ans2)
'''

1번 학생의 주문 : 탕수육
2번 학생의 주문 : 탕수육
3번 학생의 주문 : 탕수육
4번 학생의 주문 : 탕수육
5번 학생의 주문 : 탕수육
6번 학생의 주문 : 탕수육
7번 학생의 주문 : 텅수육
잘못 주문하셨습니다.
8번 학생의 주문 : 탕수육
9번 학생의 주문 : 탕수육
10번 학생의 주문 : 탕수육
198000

##while문을 사용해 1부터 10까지 프린트 하시오


*   i+=1 이 의미는 i에 +1을 해서 이것을 다시 i에 저장해준다는 뜻

In [31]:
i =0
while i < 10:
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수이면 while문을 멈춰주세요

In [34]:
i =0
while i < 10:
  i+=1
  if i%3 == 0:
    break
  print(i)

1
2

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수가 아닌값만 프린트 하시오

In [35]:
i =0
while i < 10:
  i+=1
  if i%3 == 0:
    continue
  print(i)

1
2
4
5
7
8
10

##리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 리스트에서 메뉴명과 금액을 각각 따로 빼서 menu, money의 이름을 가지는 리스트로 각각 만드시오

In [40]:
menu = []
money = []
store = ['라면', 3000, '생수', 2500, '과자',1500, '삼각김밥', 1000]
for i in store:
  if type(i) == str:
    menu.append(i)
  else:
    money.append(i)
print(menu)
print(money)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##while, for, if문을 활용해 아래와 같은 결과가 나오도록 만드시오

In [45]:
i = 0
while i<5:
  for j in range(len(menu)):
    print(("{}: {}원").format(menu[j],money[j]))
  ord = input("구매하고 싶은 품목을 선택하세요 : ")
  if ord not in menu:
    print("잘못 주문하셨습니다.")
    continue
  else:
    print(("{}의 가격은 {}원 입니다.").format(ord,money[menu.index(ord)]))
    print("**************************")
    i+=1

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 라면
라면의 가격은 3000원 입니다.
**************************
0
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 생수
생수의 가격은 2500원 입니다.
**************************
1
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 과자
과자의 가격은 1500원 입니다.
**************************
2
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 삼각김밥
삼각김밥의 가격은 1000원 입니다.
**************************
3
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 라면
라면의 가격은 3000원 입니다.
**************************
4

In [54]:
store2 = {'라면':3000, '생수': 2500,'과자':1500, '삼각김밥': 1000}

answer = 0
while  1:      # for i in range(5):
  for i,j in store2.items():
    print(("{}: {}원").format(i,j))
  order2 = input("구매하고 싶은 품목을 선택하세요 : ")
  if order2 == "done":
    print("*******************************")
    break
  print(("{}의 가격은 {}입니다.").format(order2,store2.get(order2)))
  answer += store2.get(order2)
  print("*******************************")
print(("총 금액은 {}원 입니다.").format(answer))

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 라면
라면의 가격은 3000입니다.
*******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : 삼각김밥
삼각김밥의 가격은 1000입니다.
*******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요 : done
총 금액은 4000원 입니다.